# Node modules
node_modules/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# Compiled binary addons (for Node.js native modules)
build/Release

# Dependency directories
jspm_packages/

# Distribution directories
dist/

# Yarn integrity file
.yarn-integrity

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
